<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet'/>
</head>
<body>
<div class="container">

    <h1>Employees Details
        <span class="pull-right">
            <a class="btn btn-primary" th:href="@{'/'}">Home</a>
            <a class="btn btn-primary" href="/employee/list">List Employee</a>
            <a class="btn btn-warning" th:href="@{'/employee/edit/'+${employee.id}}">Edit Employee</a>
            <a class="btn btn-danger" th:href="@{'/employee/delete/'+${employee.id}}">Delete Employee</a>
        </span>
    </h1>

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <td th:text="${employee.id}">id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${employee.name}">name</td>

        </tr>

        <tr>
            <th>Department</th>
            <td>
                <a class="btn btn-link" th:href="@{'/department/show/'+ ${employee.department !=null ? employee.department.id : ''}}">
                <span th:text="${employee.department != null} ? ${employee.department.name} : ${''}">Department</span>
                </a>
            </td>
        </tr>
        <tr>
            <th>Manager</th>
            <td>
                <a class="btn btn-link"
                   th:href="@{'/employee/show/' + ${employee.manager !=null ? employee.manager.id : ''}}">

                    <span th:text="${employee.manager != null} ? ${employee.manager.name} : ${''}">Manager</span>

                </a>
            </td>
        </tr>
        <tr>
            <th>Subordinates</th>
            <td>
        <!--<tr th:each="sub : ${employee.workers}">-->
        <a th:each="sub,itr : ${workers}">
            <!--<td th:text="${itr.count}">No</td>-->

                <a class="btn btn-link" th:href="@{'/employee/show/' + ${sub.id}}">

                    <span th:text="${sub.name}">Name</span>

                </a>
        </a>
        </td>
        </tr>
    </table>
</div>
</body>
</html>