<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet'/>
</head>
<body>
<div class="container">

    <h1>Edit Employees
        <span class="pull-right">
                    <a class="btn btn-primary" th:href="@{'/'}">Home</a>

            <a class="btn btn-primary" href="/department/list">List Departments</a>
        </span>
    </h1>

    <form action="/department/update" method="post" class="form">
        <input type="hidden" name="id"  th:value="${department.id}" />
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${department.name}" class="form-control"/>


        <br/>
        <button class="btn btn-success">Update</button>
    </form>
</div>
</body>
</html>